*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
     /* you can force inheritance with inherit keyword - it is better in css community
  to put box sizing in the body instead of up here */
  /* change box model so that borders and paddings are no longer added to the total width or total height that we specify for a box. so we are getting rid of that behavior */
}

html{
    font-size: 62.5%;//10px/16px = 62.5% -> 1rem = 10px
    box-sizing: border-box;
}

body{
   
    font-size: $default-font-size;
    background-color: #616161
}

.container{
    display: grid;
    

    


    grid-template-columns:[pile-start-column] minmax(22.6rem,1fr) 
    [pile-end-column play-area-start-column] minmax(50vw,2fr)
    [play-area-end-column deck-start-column] minmax(22.6rem,1fr)  [deck-end-column];
}