
.playing-area {
    background-color: $playing-deck-area-color;
    grid-column: play-area-start-column/play-area-end-column;
    grid-row: 1/3;
    height: 80vh;
 
}

.playing-cards{
  
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6,1fr);

 

}

.playing-card{
    width:$card-width;
    height: $card-height;
    grid-column: 1/-1;
    justify-self: center;

    
   
    
    &--1{
        
        grid-row: 2/3;
    }

    &--2{
        grid-row: 4/5;
       
    }

};

.playing-area-text{
    grid-column: 1/-1;
    grid-row:3/4;
    

    justify-self: center;
    align-self: center;
  
    font-size: 5rem;
  
}



