.playing-deck-area{
    // background-color: green;
    background-color: $playing-deck-area-color;
    grid-column: deck-start-column/deck-end-column;
    grid-row: 1/3;
}


.playing-deck {
 
    width: $card-width;
    height: $card-height;

    display: grid;
    grid-template-rows: 
    [player-1-text-start] 10rem [player-1-text-end player-1-deck-start] 
    $card-height [player-1-deck-end player-2-text-start ] 
    10rem [player-2-text-end player-2-deck-start] 
    $card-height[player-2-deck-end war-button-start]
    10rem [war-button-end]
    ;
    


    &--1{
        grid-row: [player-1-deck-start]/[player-1-deck-end];
        // background-color :red;
  

    }

    &--2{

        grid-row: [player-2-deck-start]/[player-2-deck-end];
        // background-color:blue;
     
  
    }

};

.playing-deck-text {
    grid-column: 1/-1;

    &--1{
        grid-row: [player-1-text-start]/[player-1-text-end];
    }

    &--2{
        grid-row: [player-2-text-start]/[player-2-text-end];
    }

}
