.playing-pile-area{

    background-color: $playing-deck-area-color;
    grid-column: pile-start/pile-end;

    // background-color: yellow;

    display: grid;

    grid-template-rows: 
    [player-1-text-start] 10rem [player-1-text-end player-1-pile-start]
    $card-height [player-1-pile-end war-button-start]
    10rem [war-button-end player-2-text-start]
    10rem [player-2-text-end player-2-pile-start]
    $card-height[player-2-pile-end];

    margin-right: 2rem;
}


.playing-pile {
 
    width: $card-width;
    height: $card-height;
    justify-self: right;
    


    &--1{
        grid-row: [player-1-pile-start]/[player-1-pile-end];
       
        // background-color: lightcoral;
    }

    &--2{

        grid-row: [player-2-pile-start]/[player-2-pile-end];

        // background-color:lightskyblue;
    }
};

.playing-pile-text {
    grid-column: 1/-1;
    justify-self: right;
    padding-right: 1.5rem;

    &--1{
        grid-row: [player-1-text-start]/[player-1-text-end];
    }

    &--2{
        grid-row: [player-2-text-start]/[player-2-text-end];
    }

}







