.playing-deck-area{

    background-color: $playing-deck-area-color;
    grid-column: deck-start/deck-end;

    // background-color: red;

    display: grid;
    grid-template-rows: 
    [player-1-text-start] 10rem [player-1-text-end player-1-deck-start] 
    $card-height [player-1-deck-end player-2-text-start ] 
    10rem [player-2-text-end player-2-deck-start] 
    $card-height[player-2-deck-end war-button-start]
    10rem [war-button-end]
    ;
    
    margin-left: 2rem;
}


.playing-deck {
 
    width: $card-width;
    height: $card-height;




    &--1{
        grid-row: [player-1-deck-start]/[player-1-deck-end];
        // background-color :red;
  

    }

    &--2{

        grid-row: [player-2-deck-start]/[player-2-deck-end];
        // background-color:blue;
     
  
    }

};

.playing-deck-text {
    grid-column: 1/-1;

    &--1{
        grid-row: [player-1-text-start]/[player-1-text-end];
    }

    &--2{
        grid-row: [player-2-text-start]/[player-2-text-end];
    }

}
