.playing-area{
    grid-column: center-start/center-end;

    display: grid;
    grid-template-columns: repeat(6,10vw);
    grid-template-rows: repeat(6,1fr);
    height: 80vh;
    margin: 3rem;
    background-color: rgb(93, 64, 55);
    
}

.playing-cards {
    grid-column:3/5;
    grid-row: 1/7;
    // background-color: red;
    padding: 3rem;

    display: grid;
    
}

.playing-card{
    height: 20vh;

    &--1{
        grid-row: 1/2;
       
    }

    &--2{
        grid-row: 2/3;
       
    }

}

.playing-deck {
   
    height: 20vh;
    border-radius: 2rem;

    &--1{
        grid-column:5/6;
        grid-row: 1/2;
        background-color :red;
    }

    &--2{
        grid-column:5/6;
        grid-row: 6/7;
        background-color:blue;
    }


}


.playing-pile {
   
    height: 20vh;
    border-radius: 2rem;

    &--1{
        grid-column:2/3;
        grid-row: 1/2;
        background-color: lightcoral;
    }

    &--2{
        grid-column:2/3;
        grid-row: 6/7;
        background-color:lightskyblue;
    }


}





.war-button{
    background-color:rgb(56, 142, 60);
    grid-column: 6/7;
    grid-row: 4/5;
    height: 10rem;
    width: 20rem;

    &:hover{
        background-color:rgb(104, 159, 56);

        cursor: pointer;
    }

}

