.playing-area {
    background-color: $playing-deck-area-color;
    grid-column: center-start/center-end;

    // background-color: blue;
 
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(min-content,max-content));

    // grid-auto-flow: column;

    column-gap: 2rem;

}

.playing-card{
    width:$card-width;
    height: $card-height;
   
    justify-self: center;
    align-self: center;
  
 

    &--1{
        
        grid-row: 1/2;
    }

    &--2{
        grid-row: 3/4;
       
    }

};

.playing-area-text{
    grid-column: span 3;
    grid-row:2/3;
    

    justify-self: center;
    align-self: center;
  
    font-size: 5rem;
  
}

.rule-text{
    grid-column: center-start/center-end;
}

